{% extends '/index.html' %}

{% block formulario %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

            <div class="alert-warning" role="alert">
                <strong>{{ message }}</strong>
            </div>
          
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Cambiar contraseña</h1>
    <form method="POST">
        <div class="correo">
            <label>Correo Electrónico:</label> <br> <input type="email" name="Correo" required>
        </div>

        <div class="contraseña">
            <label>Contraseña:</label> <br> <input type="password" name="Passwordd" required>
        </div>

        <div class="contraseña">
            <label>Nueva contraseña:</label> <br> <input type="password" name="new_Passwordd" required>
        </div>

        <button type="submit" class="button">Cambiar contraseña</button>
    </form>
{% endblock %}