{% extends ('/index.html') %}

{% block title %}Recuperación{% endblock %}

{% block formulario %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

            <div class="alert-warning" role="alert">
                <strong>{{ message }}</strong>
            </div>
          
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Recuperar contraseña</h1>
    <form method="POST">
        <div class="correo">
            <label>Correo Electrónico:</label> <br> <input type="email" name="Correo" required>
        </div>
        
        <button type="submit" class="button">Iniciar recuperación</button>
    </form>

{% endblock %}